.article{
    border-radius:15px;
    width:938px;
    height:auto;
    background-color:white;
    padding: 48px 30px;
    margin:30px;
    display:flex;
    flex-direction: column;

    &__button{
    background-color: #1f57aa;
    width:300px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    }
    &__input{
      width:300px;
    height:40px;
    font-size: 18px;
    }

  
  }
  

