.form{
    border-radius:15px;
    width:938px;
    height:auto;
    background-color:white;
    padding: 48px 32px;
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__input{
    width:300px;
    height:40px;
    }
    &__button{
        background-color: #1f57aa;
        width:300px;
        height: 40px;
        font-size: 18px;

        }

}